# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sid Kothari
	email = sid.kothari7@gmail.com

[color]
	ui = auto
[core]
	excludesfile =~/.gitignore_global
	editor = vim
[init]
	defaultBranch = main
[alias]

[pull]
	rebase = false
